* {
    font-family: system-ui;
}

#add-card {
    text-align: center;
}

table,
td,
th {
    border: 1px solid black;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td,
th {
    padding: 10px;
}